@font-face {
  font-family: Zarathrustra;
  src: url("fonts/zarathustra-v01.otf");
  font-display: swap;
}

@font-face {
  font-family: Longstanding;
  src: url("fonts/Longstanding\ 400.otf");
  font-display: swap;
}

@font-face {
  font-family: Museo;
  src: url("fonts/Museo700-Regular.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Beanco;
  src: url("fonts/Beanco\ Font.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Light.otf");
  font-weight: light;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-ExtraBold.otf");
  font-weight: 800;
}
