@import url("variables.css");
@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--default-background);
  background-image: unset;
  background-color: var(--color-dark);
  min-height: 100vh;
  font-family: var(--default-serif-font);
  font-size: var(--font-size-default);
  position: relative;
}

body ul {
  padding-left: var(--size-value-big);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font-3);
  font-weight: 900;
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-big);
}

h3 {
  font-size: var(---font-size-medium);
}

table,
tr,
td,
th,
caption {
  border: var(--border-default);
  border-collapse: collapse;
  padding: var(--size-value-small);
  font-family: var(--sans-serif-font-1);
}

button {
  font-family: var(--sans-serif-font-2);
  font-weight: bold;
  letter-spacing: 0.08em;
  border: none;
  border-radius: var(--border-radius-default);
  background: var(--color-blue);
  color: var(--color-light);
  padding: var(--size-value-small);
  transform: scale(1);
  cursor: pointer;
}

button:active {
  transform: scale(0.96);
  transition: 0.25s linear;
}

ul {
  list-style-type: square;
}

ul li::marker {
  color: turquoise;
  font-size: var(--font-size-medium);
}

a {
  color: var(--color-blue-light);
  text-decoration: none;
  transition: none;
}

a:visited {
  color: var(--color-purple);
}

a:hover {
  color: var(--color-light);
  text-decoration: underline;
  transition: 0.25s;
}

a:active {
  color: var(--color-red);
  transition: none;
}

input,
textarea {
  font: inherit;
}

input:is([type="text"], [type="number"]):focus {
  outline: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0 12px 0 3px;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_btn button {
  font-size: var(--font-size-big);
  font-family: var(--script-font-1);
  font-weight: bold;
  color: black;
  padding: var(--size-value-normal) var(--size-value-large);
  outline: none;
  border: none;
  border-radius: var(--border-radius-default);
  background: var(--color-white);
  letter-spacing: normal;
  cursor: pointer;
  display: block;
}

.start_btn button:hover {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);
}

/*Info Box || Rules and Regulations*/

.info_box {
  visibility: hidden;
  opacity: 0;
  width: clamp(300px, 65%, 500px);
  background: var(--color-white);
  border-radius: var(--border-radius-default);
  padding: var(--size-value-normal);
  transition: 0.5s linear;
}

.info_box .info_title {
  border-bottom: var(--border-default);
  border-color: lightgray;
  text-align: center;
  padding: 0 var(--size-value-big) var(--size-value-small);
  font-size: var(--font-size-big);
  font-weight: bolder;
  font-family: var(--serif-font-3);
}

.info_box .info_list {
  padding: var(--size-value-normal) var(--size-value-big);
}

.info_box .info_list .info {
  margin: var(--size-value-small);
  font-size: var(--font-size-default);
  font-family: var(--default-sans-serif);
}

.info_box .info_list .info span {
  font-weight: 500;
  color: var(--color-blue);
}

.info_box .buttons {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  padding: var(--size-value-normal) var(--size-value-big);
  border: var(--border-default);
  border-color: lightgray;
}

.info_box .buttons button {
  margin: 0 var(--size-value-small);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: var(--font-size-normal);
  padding: var(--size-value-small) var(--size-value-normal);
  border-radius: var(--border-radius-default);
}

.buttons button.continue {
  background: rgb(9, 176, 226);
  border: 1px solid rgb(9, 176, 226);
}

.buttons button.exit {
  border-color: grey;
  color: black;
  background: lightgray;
  border: 1px solid;
}

.buttons button.continue:hover {
  background-color: green;
  border-color: green;
}

.buttons button.exit:hover {
  background-color: red;
  border-color: red;
  color: #fff;
}

/*Main Quiz Box*/

.quiz_box {
  width: clamp(300px, 65%, 500px);
  font-family: var(--sans-serif-font-3);
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 1s linear;
  border-radius: var(--border-radius-default);
  overflow: hidden;
  height: calc(60vh + 200px);
}

.quiz_box header {
  padding: var(--size-value-normal);
  background: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 90;
}

.quiz_box header .title {
  font-family: var(--default-script-font);
  font-size: var(--font-size-big);
  font-weight: 600;
  color: var(--color-light);
}

.quiz_box header .timer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  width: 40%;
  background: var(--color-blue-light);
  border: 1px solid var(--color-blue-light);
  border-radius: var(--border-radius-default);
  padding: 0 var(--size-value-tiny);
}

.quiz_box header .timer .time-text {
  font-weight: 400;
  width: 50%;
}

.quiz_box header .timer .timer_set {
  font-weight: 500;
  background: black;
  height: 100%;
  width: 50%;
  color: var(--color-light);
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

.option label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  height: 100%;
}

.progress_bar {
  width: 90%;
  padding: 5px;
  background: #e0e0e0;
  border-radius: 5px;
  margin: var(--size-value-normal) auto;
  position: relative;
  overflow: hidden;
}

.progress_fill {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: turquoise;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.quiz_box section:is(.question, .questions) {
  margin: var(--size-value-normal) auto;
  width: 96%;
  overflow: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.quiz_box section:is(.question, .questions)::-webkit-scrollbar {
  display: none;
}

.quiz_box section .question_text {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: var(--size-value-normal) 0;
  display: block;
}

section .option_list .option {
  border: var(--border-default);
  border-width: 3px;
  border-radius: var(--border-radius-default);
  padding: var(--size-value-small) var(--size-value-big);
  padding-left: var(--size-value-normal);
  margin-bottom: var(--size-value-normal);
  display: flex;
  user-select: none;
  gap: 1em;
  cursor: pointer;
  transition: all 0.3 ease;
}

.option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  color: var(--color-black);
  background-color: var(--color-dark);
}

.quiz_box footer {
  height: fit-content;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.quiz_box footer .total_que {
  background: #000;
  width: 100%;
  padding: var(--size-value-normal);
}

.quiz_box footer .total_que span {
  display: flex;
  color: var(--color-light);
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 var(--size-value-tiny);
}

footer .total_que span p:first-child {
  padding-left: 0px;
}

footer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .button:hover {
  filter: brightness(50%);
}

.quiz_box .question-controls div.buttons {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: var(--size-value-small) var(--size-value-tiny);
  background: var(--color-light);
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.quiz_box .question-controls button {
  font-family: var(--default-sans-serif);
  background: var(--color-blue);
  padding-block: 0;
  height: 40px;
}

.quiz_box .question-controls button:is(.next, .previous) span.button-small {
  display: none;
}

.quiz_box .question-controls .question-switch-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5em;
}

.quiz_box .question-controls .question-switch-buttons button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.result_box {
  background-color: var(--color-white);
  width: clamp(300px, 65%, 500px);
  padding: var(--size-value-big);
  border-radius: var(--border-radius-default);
  display: none;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.8);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.result_box .icon {
  font-size: 100px;
  margin-bottom: var(--size-value-small);
}

.result_box .complete_text {
  font-size: var(--font-size-medium);
  font-weight: 500;
}

.result_box .score_container span {
  text-align: center;
  display: inline-block;
  margin: var(--size-value-normal) 0;
  font-size: 10px;
  font-weight: 500;
}

.score_container span p {
  font-weight: 500;
  padding: 0 var(--size-value-tiny);
}

.result_box .buttons {
  text-align: center;
  margin: var(--size-value-normal) 0;
  display: flex;
  gap: 1em;
}

.result_box .buttons button {
  font-family: var(--sans-serif-font-1);
  padding: 15px 20px;
  outline: none;
  font-weight: 600;
  border-radius: var(--border-radius-default);
  border: var(--border-default);
  border-color: var(--color-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-light);
  background: var(--color-blue-light);
}

.result_box .buttons button:hover {
  background: #0abae5;
}

.display {
  visibility: visible;
  opacity: 1;
}

.question {
  display: none;
}

.displayQuestion {
  display: block;
}

.showResult {
  display: flex;
}

.fa.fa-crown {
  color: gold;
}

.fa.fa-exclamation {
  color: red;
}

.fa.fa-thumbs-up {
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(8, 50, 255, 1) 16%,
    rgba(255, 245, 0, 1) 38%,
    rgba(255, 244, 1, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.feedback_message {
  font-size: var(--font-size-medium);
  font-weight: 800;
  margin: 10px 0;
}

.answer_breakdown {
  margin: 20px 0;
}

.answer_breakdown ul {
  list-style-type: none;
  padding: 0;
}

.answer_breakdown li {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.answer_breakdown li.correct {
  background: #e6f4ea;
  color: #2ecc71;
}

.answer_breakdown li.incorrect {
  background: #f8d7da;
  color: #e74c3c;
}

@media (max-width: 576px) {
  main {
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .info_box,
  .quiz_box,
  .result_box {
    position: absolute;
    width: 100%;
    flex-direction: column;
  }

  .display {
    display: flex;
  }

  .start_btn {
    display: flex;
  }
}

@media (max-width: 372px) {
  .quiz_box .question-controls .question-switch-buttons {
    gap: 0.25em;
  }
}

@media (max-width: 630px) {
  .quiz_box .question-controls button:is(.next, .previous) span.button-big {
    display: none;
  }
  .quiz_box .question-controls button:is(.next, .previous) span.button-small {
    display: block;
    width: 30px;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .quiz_box {
    height: 100%;
  }
}
